<section class="admin row bg-light gx-1">

	<div class="admin_table col-md-6 col-sm-10">
		{{#if search}}
		<div style="justify-content: center;"> результаты поиска {{search.searchParam}}</div>
		{{/if}}
		<div style="padding:1rem;height: 550px;overflow:auto">
			<table class="table table-success table-striped">
				<thead>
					<tr>
						<th scope="col">Название</th>
						<th scope="col">Авторы</th>
						<th scope="col">Год</th>
						<th scope="col">Действия</th>
						<th scope="col">клики</th>
					</tr>
				</thead>
				{{#each books}}
				<tr>
					<td>{{name}}</td>
					<td>{{authors}}</td>
					<td>{{year}}</td>
					<td>
						{{#if deleted}}
						<form action="/changeStatus" method="post">
							<input type="hidden" name="id" value={{id}}>
							<input type="hidden" name="_csrf" value="{{@root.csrfToken}}">
							<input type="hidden" name="pageNumber" value="{{@root.pagination.pageNumber}}">
							<button data-id={{id}} type="submit" class="btn btn-outline-success" role="button">recover</button>
						</form>

						{{else}}
						<form action="/changeStatus" method="post">
							<input type="hidden" name="id" value={{id}}>
							<input type="hidden" name="_csrf" value="{{@root.csrfToken}}">
							<input type="hidden" name="pageNumber" value="{{@root.pagination.pageNumber}}">
							<button data-id={{id}} class="btn btn-outline-danger" role="button">delete</button>
						</form>

						{{/if}}
					</td>
					<td>{{clicks}}</td>
				</tr>
				{{/each}}
			</table>
		</div>

		{{#if pagination.required}}
		{{#with pagination}}
		<div style="position: absolute;left: 50%;transform: translateX(-50%);top: 550;">
			<ul class="pagination" style="display: flex;justify-content:space-around;width:20%;margin:0 auto">
				{{#if first_page}}
				<li class="page-item disabled">
					<a class="page-link" href="javascript:void(0)" aria-label="Previous">
						<span aria-hidden="true">Previous</span>
					</a>
				</li>
				{{else}}
				<li class="page-item active">
					<a class="page-link" href="/?pageDown={{offset}}" aria-label="Previous">
						<span aria-hidden="true">Previous</span>
					</a>
				</li>
				{{/if}}
				{{#each pages}}
				{{#if active}}
				<li class="page-item active"><a class="page-link" href="/?pageNumber={{pageNumber}}">{{pageNumber}}</a></li>
				{{else}}
				<li class="page-item"><a class="page-link" href="/?pageNumber={{pageNumber}}">{{pageNumber}}</a></li>
				{{/if}}
				{{/each}}
				{{#if last_page}}
				<li class="page-item disabled">
					<a class="page-link" href="javascript:void(0)" aria-label="Next">
						<span aria-hidden="true">Next</span>
					</a>
				</li>
				{{else}}
				<li class="page-item active">
					<a class="page-link" href="/?pageUp={{offset}}" aria-label="Next">
						<span aria-hidden="true">Next</span>
					</a>
				</li>
				{{/if}}
			</ul>
		</div>
		{{/with}}
		{{/if}}

	</div>


	<div class="col-md-6 col-sm-10">
		<div style="margin: 1rem;padding: 1rem; box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1)">
			<h5 class="text-primary">Добавить новую книгу</h5>
			<form id="admin_form" action="/add" method="post" class="row">
				<input type="hidden" name="_csrf" value="{{csrfToken}}">
				<div class="form-floating  mb-2">
					<input id="book_name" name="name" type="text" class="form-control" placeholder=".">
					<label for="book_name">book name</label>
				</div>
				<div class="col-md-6">
					<label class="form-label form-label-sm " for="book_year">year</label>
					<input id="book_year" type="text" name="year" class="form-control">
				</div>
				<div class="col-md-6">
					<label class="form-label form-label-sm " for="book_size">size</label>
					<input id="book_size" type="text" name="size" class="form-control">
				</div>
				<div class="row g-3 mb-2">
					<div class="col-md-auto form-floating">
						<input id="book_auth1" type="text" name="author1" class="form-control" placeholder=".">
						<label for="book_auth1">Author 1</label>
					</div>
					<div class="col-md-auto form-floating">
						<input id="book_auth2" type="text" name="author2" class="form-control" placeholder=".">
						<label for="book_auth2">Author 2</label>
					</div>
					<div class="col-md-auto form-floating">
						<input id="book_auth3" type="text" name="author3" class="form-control" placeholder=".">
						<label for="book_auth3">Author 3</label>
					</div>
				</div>
				<div style="display: block;">
					<div class="col-md-6">
						<label for="img_href" class="form-label form-label-sm"> картинка</label>
						<input id="img_href" type="text" name="img" class="form-control form-control-sm">
						<img src="" id="form_img" class="rounded img-fluid img-thumbnail mt-2 " alt="book"
							style="max-height:20rem;width:fit-content">
					</div>
					<div class="col-md-6">
						<label for="book_dscr" class="form-label">Описание</label>
						<textarea name="descr" id="book_dscr" rows="10" class="form-control"></textarea>
					</div>
				</div>



				<button type="submit" class="col-sm-5 col-lg-3  btn btn-primary btn-lg mt-3">Submit</button>
			</form>
			<script>
				const img_href = document.querySelector('#img_href')
				let form_img = document.querySelector('#form_img')
				img_href.addEventListener('blur', () => {
					form_img.src = img_href.value
				})
			</script>
		</div>
	</div>
</section>